.main {
    padding-top: 100px;
    min-height: 100vh;
}

.container {
    max-width: 1900px;
    margin: 0 auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}

@media (min-width: 1024px) {
    .container {
        grid-template-columns: 70% 26%;
        gap: 4%;
        align-items: start;
    }
}
